html{
    max-width: 950px;
    margin: auto;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: #222;
    font-size: 18px;
}

.siteheader{
    font-size: 2em;
    font-weight: bold;
    padding: 15px;
}

.emojis {
    display: grid;
    grid-template-columns: 2fr 2fr;
    gap: 10px;
    padding: 10px;
}

.emoji p{
    order: 2;
    padding-top: 10px;
    padding-bottom: 10px;
}

.emoji {
    border: 1px solid #222;
    border-radius: 8px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-content: stretch;
    justify-content: space-between;
}

.emoji h2 {
    margin: 0;
    border-bottom: 2px solid #ccc;
    font-size: 1.5em;
    color: #000;
    font-weight: bold;
    order: 1;
    padding-top: 10px;   
}

.emoji a {
    text-decoration: none;
    background-color: #781BAA;
    color: white;
    width: 93%;
    padding: 1rem;
    border-radius: 8px;
    order: 3;
    align-self: flex-end;
}

.icon {
    font-size: 4rem;
    order: 0;
    align-self: center;
    padding-top: 15px;
    padding-bottom: 20px;
}

